/*@import "reset.css";*/

.main-flex{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width:860px;
  margin-left: auto;
  margin-right: auto;
}

/*
.main-container{
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header nav nav"
    "main main main"
    "footer footer footer";

  flex-wrap: wrap;  
  align-items: center;
  justify-content: center;



}
*/

.container-flex{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/*
.main-container > Header {
  grid-area: header;
  width: 286px;
}

.main-container > Nav {
  grid-area: nav;
  width: 574px;
}

.main-container > Main {
  grid-area: main;
  width: 860px;
}

.main-container > Main {
  grid-area: main;
  width: 860px;
}*/

/*.main-container > BookingPage {
  grid-area: main;
  width: 860px;
}*/

/*.booking-container{
  grid-area: main;
  width: 860px;
}*/

/*
.main-container > Footer {
  grid-area: footer;
  width: 860px;
}*/


/****** Nav ******/

nav{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color:#ffffff;
  border-radius: 16px;
}

nav ul{
  list-style: none;
  /*text-align: center;*/
}

nav li{
  display:inline-block;
  padding: 5px 5px 5px 5px;
}

li a{
  color: #000000;
  text-decoration:none;
  padding: 5px 5px 5px 5px;
  border-radius: 16px;
  font-size: 16px;
}

li a:link{
  color: #000000;
}

li a:visited{
  color: #000000;
}

li a:hover{
  color: #FFFFFF;
  background-color: #495e57;
}

li a:active{
  color: #000000;
}



/**** hero ****/

.hero-section{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width:860px;
  height: 600px;
  background-color: #495e57;
}

.hero-section-1{
  
  width:400px;
  padding: 5px 5px 5px 5px;
}

.hero-section-2{
  /*width: 300px;*/
  padding: 5px 5px 5px 5px;
}

/******** Special section ********/

.special-section{
  display:flex;
  /*align-items: center;*/
  justify-content:center;
  flex-wrap: wrap;
  width:100%;
  height: 600px;
  background-color: #FFFFFF;
}

.special-section-1{
  display:flex;
  justify-content:space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  border: 1px solid #666;

  
}


.special-section-2{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  column-gap: 20px;
  border: 1px solid #666;
}

.card{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 16px;
  width:256px;
  background-color: #EDEFEE;
  padding: 5px 5px 5px 5px;
  
}


.food-desc{
  width: 256px;
}


/**** Testimonials *****/

.testimonials-section{
  display: grid;
  grid-template-columns:  1fr;
  grid-template-rows: 15%;
  
  /*align-items: center;
  justify-content: center;*/
  /*width:860px;*/
  height:600px;
  background-color: #495e57;
  padding: 20px;



}

.testimonials-section-1{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width:100%;
  /*height:10%;*/
  border: 1px solid #000000;
}

.testimonials-section-2{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

 
  column-gap: 10px;
  height:90%;
  width:100%;

  border: 1px solid #000000;
  
}

.testimonial-card{
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;

  align-items: center;
  justify-content:center;

  background-color: #FFFFFF;

  width: 190px;
  height: 175px;

}



/********** about **********/

.about-section{
  display:flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;

 
  /*column-gap: 10px;*/
  
  background-color: #FFFFFF;
  width:100%;
  height: 600px;
  
  border: 1px solid #000000;
  padding-top:10%;
}

.about-section-1{
  padding-left: 10px;
  /*width:50%;*/
  border: 1px solid #000000;
}

.about-section-2{

  /*width:50%;*/
  border: 1px solid #000000;
}

.about-desc{
  width:280px;
}

.mario-pic{
  position:relative;
  top:70px;
  left: 100px;

}


/****** footer ******/
.footer{

  display:flex;
  flex-direction: row;
  align-items:start;
  justify-content: center;
  flex-wrap: wrap;

 
  column-gap: 10px;
  
  background-color: #495e57;
  width:100%;
  height: 600px;

  border: 1px solid #FFFFFF;

  /*padding: 10px 10px 10px 10px;*/

  padding-top:10%;

}

.footer ul{
  list-style: none;

} 


.footer li{
 /* display:inline;*/
  padding: 5px 5px 5px 5px;
}

.footer li a{
  color: #FFFFFF;
  text-decoration:none;
  padding: 5px 5px 5px 5px;
  border-radius: 16px;
  font-size: 16px;
}


.footer li a:link{
  color: #FFFFFF;
}

.footer  li a:visited{
  color: #FFFFFF;
}

.footer  li a:hover{
  color: #F4CE14;
}

.footer  li a:active{
  color: #FFFFFF;
}





/****style ****/

.font-F4CE14{
  color: #F4CE14;
}


.font-white{
  color:#FFFFFF;
}

.font-495e57{
  color: #495e57;
}

.section-title{
  font-size: 64px;
}

.section-sub-title{
  font-size: 40px;
}

.section-desc{
  font-size: 32px;
}

.label-text{
  font-size: 24px;
}

.input-text-size{
  font-size: 32px;
  min-width: 200px;
}


.float-left{
  float:left;
}

.float-right{
  float:right;
}

.float-top{
  float:top;
}

.rounded-corner{
  border-radius: 16px;
}


.button_link{
  display:inline-block;
  background-color: #F4CE14;
  width: 200px;
  padding: 10px 10px 10px 10px;
  border-radius: 16px;
  text-align: center;
  font-size: 18px;


}

.button_link >  a{
  color: #000000;
  text-decoration:none;
}

.button_link > a:link{
  color: #000000;
}

.button_link > a:visited{
  color: #000000;
}

.button_link > a:hover{
  color: #FFFFFF;
}

.button_link > a:active{
  color: #000000;
}

/*
.footer li a:link{
  
}

.footer  li a:visited{
  color: #FFFFFF;
}

.footer  li a:hover{
  color: #F4CE14;
}

.footer  li a:active{
  color: #FFFFFF;
}*/




/****** booking ******/

.booking-container{

  display:flex;
  flex-direction: row;
  align-items:start;
  justify-content: center;
  flex-wrap: wrap;

  background-color: #495e57;
  width:100%;
  height: 1200px;

  /*border: 1px solid #FFFFFF;*/


}

.booking-section{
  display:flex;
  flex-direction:column;
  
  align-items:center;
  justify-content: center;
  flex-wrap: wrap;

  
  /*border: 1px solid #000000;*/
}


.booking-section-1{
height:10%;
/*border: 1px solid #000000;*/
}

/*.booking-section-2{
  display:grid;
  flex-direction:column;
  align-items:start;
  justify-content: center;
  flex-wrap: wrap;
  height:90%;
  border: 1px solid #000000;
  row-gap: 10px;
  }*/

  .booking-section-2{
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-template-rows: auto;
   
   
    align-items: start;
    justify-content: center;

    padding-top: 30px;
    row-gap: 20px;
    column-gap: 20px;
    padding-bottom: 20px;
  }

  .booking-section-3{
    display:flex;
    flex-direction:column;
    
    align-items:center;
    justify-content: center;
    flex-wrap: wrap;
  
    width:100%;
    
    row-gap: 20px;
    padding-top: 30px;

   /* border: 1px solid #000000;*/

  }






