/*@import "reset.css";*/

.main-flex{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width:860px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 859px) {
  .main-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width:100%;
    margin-left: auto;
    margin-right: auto;
  }
}


.container-flex{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}



/****** Nav ******/

nav{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color:#ffffff;
  border-radius: 16px;
}

nav ul{
  list-style: none;
  /*text-align: center;*/
}

nav li{
  display:inline-block;
  padding: 5px 5px 5px 5px;
}

li a{
  color: #000000;
  text-decoration:none;
  padding: 5px 5px 5px 5px;
  border-radius: 16px;
  font-size: 16px;
}

li a:link{
  color: #000000;
}

li a:visited{
  color: #000000;
}

li a:hover{
  color: #FFFFFF;
  background-color: #495e57;
}

li a:active{
  color: #000000;
}



/**** hero ****/

.hero-section{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width:860px;
  height: 600px;
  background-color: #495e57;
}

.hero-section-1{
  width:400px;
  padding: 5px 5px 5px 5px;
  /*border: 1px solid #fff;*/
}

.hero-section-2{
  /*width: 300px;*/
  padding: 5px 5px 5px 5px;
}

@media only screen and (max-width: 859px) {

  .hero-section{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width:100%;
    height: auto;
    background-color: #495e57;
  }
  
  .hero-section-1{
    width:100%;
    padding: 5px 5px 5px 5px;
    /*border: 1px solid #fff;*/
  }

  .hero-section-2{
    width: 100%;
    padding: 5px 5px 5px 5px;
  }


}



/******** Special section ********/

@media only screen and (max-width: 859px) {

  .special-section{
    display:flex;
    /*align-items: center;*/
    justify-content:center;
    flex-wrap: wrap;
    width:100%;
    height: auto;
    background-color: #FFFFFF;
  }

  
.food-desc{
  width: 100%;
}

}

@media only screen and (min-width: 860px) {

  .special-section{
    display:flex;
    /*align-items: center;*/
    justify-content:center;
    flex-wrap: wrap;
    width:100%;
    height: 600px;
    background-color: #FFFFFF;
  }

}



.special-section-1{
  display:flex;
  justify-content:space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
 /* border: 1px solid #666;*/
  padding-left: 30px;
  padding-right:30px;
}

.special-section-2{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  column-gap: 20px;
 /* border: 1px solid #666;*/
}

.card{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: stretch;
  border-radius: 16px;
  /*width:256px;*/
  background-color: #EDEFEE;
  padding: 5px 5px 5px 5px;
  
}


.food-desc{
  width: 256px;
}



/**** Testimonials *****/

@media only screen and (min-width: 860px) {


  .testimonials-section{
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: 15%;
    /*align-items: center;
    justify-content: center;*/
    /*width:860px;*/
    height:600px;
    background-color: #495e57;
    padding: 20px;
  }




}


@media only screen and (max-width: 859px) {

  .testimonials-section{
    /*display: grid;*/
    display: flex;
    flex-direction:column;

    /*grid-template-columns:  1fr;
    grid-template-rows: 15%;*/

    align-items: center;
    justify-content: center;

    /*width:860px;*/
    height:auto;
    background-color: #495e57;
    padding: 20px;
  }



}


.testimonials-section-1{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width:100%;
  /*height:10%;*/
  /*border: 1px solid #000000;*/
}

.testimonials-section-2{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
  height:90%;
  width:100%;
  /*border: 1px solid #000000;*/
}
  
.testimonial-card{
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
  align-items: center;
  justify-content:center;
  background-color: #FFFFFF;
  width: 190px;
  height: 175px;
}



/********** about **********/


@media only screen and (max-width: 859px) {

  .about-section{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #FFFFFF;
    width:100%;
    height: auto;
   /* border: 1px solid #000000;
     padding-top:10%;*/
     padding-top: 30px;
  }

}


@media only screen and (min-width: 860px) {

  .about-section{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #FFFFFF;
    width:100%;
    height: 600px;
   /* border: 1px solid #000000;
     padding-top:10%;*/
     padding-top: 30px;
  }

  .mario-pic{
    position:relative;
    top:70px;
    left: 100px;
    overflow:auto;
  }

}





.about-section-1{
  padding-left: 10px;
  /*width:50%;*/
  /*border: 1px solid #000000;*/
}

.about-desc{
  width:280px;
}




/****** footer ******/

.footer{
  display:flex;
  flex-direction: row;
  align-items:flex-start;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 10px;
  background-color: #495e57;
  width:100%;
  height: 600px;
  padding-top:10%;
  /* border: 1px solid #FFFFFF;*/
  /*padding: 10px 10px 10px 10px;*/
}

.footer ul{
  list-style: none;
} 

.footer li{
 /* display:inline;*/
  padding: 5px 5px 5px 5px;
}

.footer li a{
  color: #FFFFFF;
  text-decoration:none;
  padding: 5px 5px 5px 5px;
  border-radius: 16px;
  font-size: 16px;
}

.footer li a:link{
  color: #FFFFFF;
}

.footer  li a:visited{
  color: #FFFFFF;
}

.footer  li a:hover{
  color: #F4CE14;
}

.footer  li a:active{
  color: #FFFFFF;
}





/****style ****/

html {
  scroll-behavior: smooth;
}

.font-F4CE14{
  color: #F4CE14;
}

.font-white{
  color:#FFFFFF;
}

.font-495e57{
  color: #495e57;
}

.font-red{
  color: red;
}

.font-error{
  color: #F4CE14;
  font-weight: bold;
}

h1{
  font-size: 64px;
  line-height: 0.5;
  font-weight: normal;
}

.section-title{
  font-size: 64px;
}

h2{
  font-size: 40px;
  line-height:0.5;
  font-weight: normal;
}

.section-sub-title{
  font-size: 40px;
}

.section-desc{
  font-size: 32px;
}

.label-text{
  font-size: 24px;
}

.input-text-size{
  font-size: 32px;
  min-width: 200px;
}

.float-left{
  float:left;
}

.float-right{
  float:right;
}


.rounded-corner{
  border-radius: 16px;
}


.button_link{
  display:inline-block;
  background-color: #F4CE14;
  width: 200px;
  padding: 10px 10px 10px 10px;
  border-radius: 16px;
  text-align: center;
  font-size: 18px;


}

.button_link >  a{
  color: #000000;
  text-decoration:none;
  cursor: pointer;
}

.button_link > a:link{
  color: #000000;
  cursor: pointer;
}

.button_link > a:visited{
  color: #000000;
  cursor: pointer;
}

.button_link > a:hover{
  color: #FFFFFF;
  cursor: pointer;
}

.button_link > a:active{
  color: #000000;
  cursor: pointer;
}

.button_link:hover{
  color: #FFFFFF;
}

.link-pointer{
  cursor: pointer;
}

.text-link:hover{
  color: #F4CE14;
}

.button_submit{
  display:inline-block;
  background-color: #F4CE14;
  width: 200px;
  padding: 10px 10px 10px 10px;
  border-radius: 16px;
  text-align: center;
  font-size: 18px;
}

.button_submit:hover{
  color: #FFFFFF;
}




/****** booking ******/

.booking-container{
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #495e57;
  width:100%;
  /*height: 1200px;*/
  /*border: 1px solid #FFFFFF;*/
  margin-left: auto;
  margin-right: auto;
}

.booking-section{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  flex-wrap: wrap;
  /*border: 1px solid #000000;*/
}

  .booking-section-2{
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-template-rows: auto;
    align-items: flex-start;
    justify-content: center;
    padding-top: 30px;
    row-gap: 20px;
    column-gap: 20px;
    padding-bottom: 20px;
  }

  .booking-section-3{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    flex-wrap: wrap;
    width:100%;
    row-gap: 20px;
    padding-top: 30px;
   /* border: 1px solid #000000;*/
  }







